<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 5.针对所有实体类对象的映射配置文件
 映射
namespace="com.ssm.entity":针对该包下的所以实体类对象映射配置文件   -->
<mapper namespace="com.ssm.mapper.ICompsProjectMapper">

   
   <resultMap id="CompanyResult" type="com.ssm.entity.Comps" >
      <id column="cid" property="cid" jdbcType="INTEGER" javaType="Integer" />
      <result column="cname" property="cname" jdbcType="VARCHAR" javaType="string" />
      <result column="cdate" property="cdate" jdbcType="VARCHAR" javaType="string" />
      <result column="c_tid" property="c_tid" jdbcType="INTEGER" javaType="Integer" />  
      <result column="c_pros" property="c_pros" jdbcType="VARCHAR" javaType="string" />
      <result column="cusername" property="cusername" jdbcType="VARCHAR" javaType="string" />
      <result column="cdetail" property="cdetail" jdbcType="VARCHAR" javaType="string" />  
      <result column="numbers" property="numbers" jdbcType="INTEGER" javaType="Integer" /> 
      <result column="pros" property="pros" jdbcType="VARCHAR" javaType="string" />
      <result column="clogo" property="clogo" jdbcType="VARCHAR" javaType="string"/>
      <result column="cimgs" property="cimgs" jdbcType="VARCHAR" javaType="string"/>
      <result column="cvideo" property="cvideo" jdbcType="VARCHAR" javaType="string" />
      <result column="ctext" property="ctext" jdbcType="VARCHAR" javaType="string" />
      <result column="ctvchoose" property="ctvchoose" jdbcType="INTEGER" javaType="Integer" />
      <result column="ccheck" property="ccheck" jdbcType="INTEGER" javaType="Integer" /> 
           
    </resultMap>   
    <resultMap id="ProjectsResult" type="com.ssm.entity.Projects">
      <id column="pid" property="pid" jdbcType="INTEGER" javaType="Integer" />  
     <result column="pname" property="pname" jdbcType="VARCHAR" javaType="string"/>  
     <result column="ptest" property="ptest" jdbcType="VARCHAR" javaType="string"/>
     <result column="pdetail" property="pdetail" jdbcType="VARCHAR" javaType="string"/> 
     <result column="plogo" property="plogo" jdbcType="VARCHAR" javaType="string"/> 
     <result column="numbers" property="numbers" jdbcType="INTEGER" javaType="Integer"/>   
    </resultMap>
  
    <resultMap id="UsersResult" type="com.ssm.entity.Users">
      <id column="uid" property="uid" jdbcType="INTEGER" javaType="Integer" />  
     <result column="uname" property="uname" jdbcType="VARCHAR" javaType="string"/>  
     <result column="upwd" property="upwd" jdbcType="VARCHAR" javaType="string"/>
     <result column="udate" property="udate" jdbcType="VARCHAR" javaType="string"/> 
     <result column="u_pros" property="u_pros" jdbcType="VARCHAR" javaType="string"/> 
     <result column="ulogo" property="ulogo" jdbcType="VARCHAR" javaType="string"/> 
     <result column="pnum" property="pnum" jdbcType="INTEGER" javaType="Integer"/> 
     <result column="cnum" property="cnum" jdbcType="INTEGER" javaType="Integer"/>   
     <result column="u_cid" property="u_cid" jdbcType="INTEGER" javaType="Integer"/>    
    </resultMap>
    <select id="SelectUsersInfoByCid" resultMap="UsersResult" parameterType="int">
    SELECT u.*,(SELECT count(scid) from scores where FIND_IN_SET(s_pid,u.u_pros) and s_cid=#{1}) as pnum,
(SELECT count(scid) from scores where s_cid=#{1}) as cnum
from users u WHERE u.u_cid=#{1} Order By rand() Limit 5 
    </select>
    <select id="selectCompanyProjectByObject" 
    resultMap="CompanyResult" parameterType="com.ssm.entity.Comps" >
    select c.cid,c.c_pros,c.cdetail,c.cname,c.clogo,(SELECT COUNT(*) from scores where s_cid=c.cid) as numbers,
(SELECT GROUP_CONCAT(pname SEPARATOR ',') as name from projects where FIND_IN_SET(pid,c.c_pros))
 as pros from comps c  where (SELECT COUNT(*) from scores where s_cid=c.cid)>#{numbers}
  <if test="cid != 0">
  and c.cid =#{cid} 
  </if>
   <if test="cname neq null and cname neq ''">
  and c.cname LIKE #{cname} 
  </if>
   <if test="c_pros neq null and c_pros neq ''">
  AND c.c_pros like #{c_pros} 
  </if>
  ORDER BY c.cdate   
    </select>  
    <select id="selectCompanyBycid" resultMap="CompanyResult" parameterType="int">
    select * from comps  where cid=#{1}    
    </select>  
   <!-- select c.cid,c.c_pros,c.cdetail,c.cname,(SELECT COUNT(*) from scores where s_cid=c.cid) as numbers,
(SELECT GROUP_CONCAT(pname SEPARATOR ',') as name from projects where FIND_IN_SET(pid,c.c_pros))
 as pros from comps c ORDER BY c.cdate ; 
   LIMIT #{currentPage},#{pageSize} -->
    <select id="SelectProjectListByComps" parameterType="com.ssm.entity.Comps"
    resultMap="ProjectsResult">
    SELECT p.*,(SELECT count(*) from scores WHERE s_pid=p.pid and s_cid=#{cid}) as numbers
from projects p where FIND_IN_SET(p.pid,#{c_pros}) ;
    </select>
    <select id="SelectProjectList" resultMap="ProjectsResult">
    SELECT * from projects order by pid desc ;
    </select>
    <select id="selectCompanyAll" resultMap="CompanyResult" >
    select * from comps ORDER BY rand() LIMIT 5;  
    </select>  
    <insert id="insertComps" parameterType="com.ssm.entity.Comps">
    insert into comps values(null,#{cname},NOW(),1,#{cdetail},#{c_pros},#{clogo},#{cimgs},#{ctext},#{cvideo},#{ctvchoose},0,#{cusername})
    </insert>
</mapper>
