<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 5.针对所有实体类对象的映射配置文件
 映射
namespace="com.ssm.entity":针对该包下的所以实体类对象映射配置文件   -->
<mapper namespace="com.ssm.mapper.ICompsProjectMapper">

   
   <resultMap id="CompanyResult" type="com.ssm.entity.Comps" >
      <id column="cid" property="cid" jdbcType="INTEGER" javaType="Integer" />
      <result column="cname" property="cname" jdbcType="VARCHAR" javaType="string" />
      <result column="cdate" property="cdate" jdbcType="VARCHAR" javaType="string" />
      <result column="c_tid" property="c_tid" jdbcType="INTEGER" javaType="Integer" />  
      <result column="c_pros" property="c_pros" jdbcType="VARCHAR" javaType="string" />
      <result column="cusername" property="cusername" jdbcType="VARCHAR" javaType="string" />
      <result column="cpwd" property="cpwd" jdbcType="VARCHAR" javaType="string" />
      <result column="cdetail" property="cdetail" jdbcType="VARCHAR" javaType="string" />  
      <result column="numbers" property="numbers" jdbcType="INTEGER" javaType="Integer" /> 
      <result column="usersnumbers" property="usersnumbers" jdbcType="INTEGER" javaType="Integer" />
      <result column="huati" property="huati" jdbcType="INTEGER" javaType="Integer" /> 
      <result column="liuyan" property="liuyan" jdbcType="INTEGER" javaType="Integer" /> 
      <result column="pros" property="pros" jdbcType="VARCHAR" javaType="string" />
      <result column="clogo" property="clogo" jdbcType="VARCHAR" javaType="string"/>
      <result column="cimgs" property="cimgs" jdbcType="VARCHAR" javaType="string"/>
      <result column="cvideo" property="cvideo" jdbcType="VARCHAR" javaType="string" />
      <result column="ctext" property="ctext" jdbcType="VARCHAR" javaType="string" />
      <result column="ctvchoose" property="ctvchoose" jdbcType="INTEGER" javaType="Integer" />
      <result column="ccheck" property="ccheck" jdbcType="INTEGER" javaType="Integer" /> 
           
    </resultMap>   
    <resultMap id="ProjectsResult" type="com.ssm.entity.Projects">
      <id column="pid" property="pid" jdbcType="INTEGER" javaType="Integer" />  
     <result column="pname" property="pname" jdbcType="VARCHAR" javaType="string"/>  
     <result column="ptest" property="ptest" jdbcType="VARCHAR" javaType="string"/>
     <result column="pdetail" property="pdetail" jdbcType="VARCHAR" javaType="string"/> 
     <result column="plogo" property="plogo" jdbcType="VARCHAR" javaType="string"/> 
     <result column="numbers" property="numbers" jdbcType="INTEGER" javaType="Integer"/>   
    </resultMap>
  
    <resultMap id="UsersResult" type="com.ssm.entity.Users">
      <id column="uid" property="uid" jdbcType="INTEGER" javaType="Integer" />  
     <result column="uname" property="uname" jdbcType="VARCHAR" javaType="string"/>  
     <result column="upwd" property="upwd" jdbcType="VARCHAR" javaType="string"/>
     <result column="udate" property="udate" jdbcType="VARCHAR" javaType="string"/> 
     <result column="u_pros" property="u_pros" jdbcType="VARCHAR" javaType="string"/> 
     <result column="ulogo" property="ulogo" jdbcType="VARCHAR" javaType="string"/> 
     <result column="pnum" property="pnum" jdbcType="INTEGER" javaType="Integer"/> 
     <result column="cnum" property="cnum" jdbcType="INTEGER" javaType="Integer"/>   
     <result column="u_cid" property="u_cid" jdbcType="INTEGER" javaType="Integer"/>    
    </resultMap>
    
     <resultMap id="WordsResult" type="com.ssm.entity.Words">
      <id column="wid" property="wid" jdbcType="INTEGER" javaType="Integer" />  
       <result column="w_sid" property="w_sid" jdbcType="INTEGER" javaType="Integer" /> 
       <result column="w_cid" property="w_cid" jdbcType="INTEGER" javaType="Integer" /> 
       <result column="wcount" property="wcount" jdbcType="INTEGER" javaType="Integer" /> 
       <result column="whid" property="whid" jdbcType="INTEGER" javaType="Integer" /> 
     <result column="wtitle" property="wtitle" jdbcType="VARCHAR" javaType="string"/>  
     <result column="wcontent" property="wcontent" jdbcType="VARCHAR" javaType="string" />
     <result column="wdate" property="wdate" jdbcType="VARCHAR" javaType="string"/>  
     <result column="wimages" property="wimages" jdbcType="VARCHAR" javaType="string"/>  
      <result column="wtest" property="wtest" jdbcType="VARCHAR" javaType="string"/>      
      <result column="wauthor" property="wauthor" jdbcType="VARCHAR" javaType="string"/>  
   <association property="stu" javaType="com.ssm.entity.Student"
    	       resultMap="StudentResult"/>
     <association property="comp" javaType="com.ssm.entity.Comps"
    	       resultMap="CompanyResult"/>
    </resultMap>
    
    <select id="getChart" resultMap="ProjectsResult" parameterType="com.ssm.entity.Comps">
     	select p.*, (select count(*) from scores where s_pid=p.pid and s_cid=#{cid}) 
		as numbers from projects p where FIND_IN_SET(p.pid,#{c_pros})
    </select>   
   
     <select id="getLogin" resultMap="CompanyResult" parameterType="com.ssm.entity.Comps">
     	   SELECT c.* from comps c WHERE c.cid=#{cid}
    </select>
    
    <select id="selectStusCompsDetail" resultMap="ScoresResult" parameterType="com.ssm.entity.Comps">
		SELECT s.*,t.sname,t.slogo,p.pname,c.clname , 
		(SELECT COUNT(*) from words WHERE words.w_cid=#{cid} and words.w_sid=s.s_sid) 
		as number from scores s,stus t,projects p,classes c WHERE s.s_sid=t.sid and p.pid=s.s_pid 
		and c.clid=t.s_clid and s.s_cid=#{cid} 
		<if test="score != null and score.stuname != null and score.stuname != ''">
			<bind value="'%'+score.stuname+'%'" name="score.stuname"/>
			and t.sname like #{score.stuname} 
		</if>
		<if test="s_pid != null and s_pid != 0 "> and s.s_pid = #{s_pid} </if>
		<if test="score != null"> 
			and (SELECT COUNT(*) from words WHERE words.w_cid=#{cid} and words.w_sid=s.s_sid)>=#{numbers}  
		</if>
			LIMIT #{currentPage},#{pageSize} 
	</select>
    
    
    <select id="selectCountStusComps" parameterType="com.ssm.entity.Comps" resultType="int">
		SELECT count(*) from scores s,stus t,projects p,classes c WHERE s.s_sid=t.sid 
		and p.pid=s.s_pid and c.clid=t.s_clid and s.s_cid=#{cid}  	
		<if test="score != null and score.stuname != null and score.stuname != ''">
		<bind value="'%'+score.stuname+'%'" name="score.stuname"/>
			and t.sname like #{score.stuname}  
		</if>
		<if test="s_pid != null and s_pid != 0 "> 
			and s.s_pid=#{s_pid}  
		</if>
		<if test="score != null"> 
			and (SELECT COUNT(*) from words WHERE words.w_cid=#{cid} and words.w_sid=s.s_sid)>=#{numbers}  
		</if>
	</select>
    
    
    <select id="selectCompWordsBycid" resultMap="WordsResult" parameterType="int">
     	   SELECT w.*,s.*,c.* from words w,comps c,stus s WHERE w.w_cid=c.cid 
				and w.w_sid=s.sid and w.whid=0 and w.w_cid=#{cid} order by w.wdate desc limit 5
    </select>
    
    <!-- 查询公司被选人数，话题数，留言数，clogo，cname -->
    <select id="selectCompanyCountsBycid" resultMap="CompanyResult" parameterType="int">
    select c.clogo,c.cname,c.cvideo,c.cimgs,c.ctvchoose,
(select count(*) from scores s where s.s_cid=c.cid) as numbers ,
(select count(*) from users u where u.u_cid=c.cid) as usersnumbers ,
(select count(*) from words w where w.whid=0 and w_cid=c.cid) as huati ,
(select count(*) from words w where w.whid!=0 and w_cid=c.cid) as liuyan 
from comps c where c.cid=#{cid}
    </select>
    
    <select id="SelectUsersInfoByCid" resultMap="UsersResult" parameterType="int">
    SELECT u.*,(SELECT count(scid) from scores where FIND_IN_SET(s_pid,u.u_pros) and s_cid=#{1}) as pnum,
(SELECT count(scid) from scores where s_cid=#{1}) as cnum
from users u WHERE u.u_cid=#{1} Order By rand() Limit 5 
    </select>
    <select id="selectCompanyProjectByObject" 
    resultMap="CompanyResult" parameterType="com.ssm.entity.Comps" >
    select c.cid,c.c_pros,c.cdetail,c.cname,c.clogo,(SELECT COUNT(*) from scores where s_cid=c.cid) as numbers,
(SELECT GROUP_CONCAT(pname SEPARATOR ',') as name from projects where FIND_IN_SET(pid,c.c_pros))
 as pros from comps c  where (SELECT COUNT(*) from scores where s_cid=c.cid)>#{numbers}
  <if test="cid != 0">
  and c.cid =#{cid} 
  </if>
   <if test="cname neq null and cname neq ''">
  and c.cname LIKE #{cname} 
  </if>
   <if test="c_pros neq null and c_pros neq ''">
  AND c.c_pros like #{c_pros} 
  </if>
  ORDER BY c.cdate   
    </select>  
    <select id="selectCompanyBycid" resultMap="CompanyResult" parameterType="int">
    select * from comps  where cid=#{1}    
    </select>  
   <!-- select c.cid,c.c_pros,c.cdetail,c.cname,(SELECT COUNT(*) from scores where s_cid=c.cid) as numbers,
(SELECT GROUP_CONCAT(pname SEPARATOR ',') as name from projects where FIND_IN_SET(pid,c.c_pros))
 as pros from comps c ORDER BY c.cdate ; 
   LIMIT #{currentPage},#{pageSize} -->
    <select id="SelectProjectListByComps" parameterType="com.ssm.entity.Comps"
    resultMap="ProjectsResult">
    SELECT p.*,(SELECT count(*) from scores WHERE s_pid=p.pid and s_cid=#{cid}) as numbers
from projects p where FIND_IN_SET(p.pid,#{c_pros}) ;
    </select>
    <select id="SelectProjectList" parameterType="java.lang.String" resultMap="ProjectsResult">
		SELECT * from projects 
		<if test="pros != null and pros != ''">
			where FIND_IN_SET(pid,#{pros}) 
		</if>
			order by pid desc ; 
	</select>
    <select id="selectCompanyAll" resultMap="CompanyResult" >
    select * from comps ORDER BY rand() LIMIT 5;  
    </select>  
    <insert id="insertComps" parameterType="com.ssm.entity.Comps">
    insert into comps values(null,#{cname},NOW(),1,#{cdetail},#{c_pros},#{clogo},#{cimgs},#{ctext},#{cvideo},#{ctvchoose},0,#{cusername})
    </insert>
</mapper>
